@charset "UTF-8";
/*-------------------公用字体---------------------*/
/*-------------------水平排列---------------------*/
/*水平居中,垂直居中*/
.fl-row-center {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

/*水平两端 竖直居中 */
.fl-row-justy {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

/*水平居中 竖直flex-end */
.fl-row-end {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  justify-content: center;
  -webkit-justify-content: center;
}

/*水平环绕 竖直居中 */
.fl-row-around {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

/*水平居左 竖直居左 */
.fl-row-grid {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

/*水平居左 竖直baseline */
.fl-row-grid-base {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: baseline;
  -webkit-align-items: baseline;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

/*水平居中 竖直baseline */
.fl-row-center-base {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: baseline;
  -webkit-align-items: baseline;
  justify-content: center;
  -webkit-justify-content: center;
}

/*水平居左，竖直居中  水平换行*/
.fl-row-left {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

/*水平居左，竖直居中  水平不换行*/
.fl-row-leftNowrap {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

/*水平居左，竖直居左 水平换行*/
.fl-row-leftStart {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

/*水平居左，竖直居左 水平不换行*/
.fl-row-leftStartNowrap {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

/*水平居右，竖直居中  */
.fl-row-right {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

/*----------------竖直排列-------------------*/
/* 竖直排列---上下center，左右center */
.fl-column-center {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

/* 竖直排列---上下flex-start，左右center */
.fl-column-centerTop {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

/* 竖直排列---上下flex-start，左右flex-start */
.fl-column-start-start {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

/* 竖直排列---上下flex-end，左右center */
.fl-column-centerBottom {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

/* 竖直排列---竖直space-between，左右flex-start */
.fl-column-justyB-start {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

/* 竖直排列---竖直space-between，左右center */
.fl-column-justyB-c {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

/* 竖直排列---竖直space-between，左右flex-end */
.fl-column-justyEnd {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

/* 竖直排列---竖直space-around，左右flex-start */
.fl-column-left {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

/* 竖直排列---竖直space-around，左右flex-end */
.fl-column-right {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

/* 竖直排列---竖直flex-start，左右flex-end */
.fl-column-start-right {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

/* 竖直排列---竖直center，左右flex-start */
.fl-column-start {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: center;
  -webkit-justify-content: center;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.flex5 {
  flex: 5;
}

.flex6 {
  flex: 6;
}

[flex] {
  display: flex;
}

[flex] > * {
  display: block;
}

[flex] > [flex] {
  display: flex;
}

[flex~="dir:left"] {
  flex-direction: row;
}

[flex~="dir:right"] {
  flex-direction: row-reverse;
  -webkit-box-pack: end;
}

[flex~="dir:top"] {
  flex-direction: column;
}

[flex~="dir:bottom"] {
  flex-direction: column-reverse;
  -webkit-box-pack: end;
}

[flex~="main:left"] {
  justify-content: flex-start;
}

[flex~="main:right"] {
  justify-content: flex-end;
}

[flex~="main:justify"] {
  justify-content: space-between;
}

[flex~="main:center"] {
  justify-content: center;
}

[flex~="cross:top"] {
  align-items: flex-start;
}

[flex~="cross:bottom"] {
  align-items: flex-end;
}

[flex~="cross:center"] {
  align-items: center;
}

[flex~="cross:baseline"] {
  align-items: baseline;
}

[flex~="cross:stretch"] {
  align-items: stretch;
}

[flex~=wrap] {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

[flex~=nowrap] {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}

[flex~="box:mean"] > *,
[flex~="box:first"] > *,
[flex~="box:last"] > *,
[flex~="box:justify"] > * {
  width: 0;
  height: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

[flex~="box:first"] > :first-child,
[flex~="box:last"] > :last-child,
[flex~="box:justify"] > :first-child,
[flex~="box:justify"] > :last-child {
  width: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

[flex~="dir:top"][flex~="box:mean"] > *,
[flex~="dir:top"][flex~="box:first"] > *,
[flex~="dir:top"][flex~="box:last"] > *,
[flex~="dir:top"][flex~="box:justify"] > *,
[flex~="dir:bottom"][flex~="box:mean"] > *,
[flex~="dir:bottom"][flex~="box:first"] > *,
[flex~="dir:bottom"][flex~="box:last"] > *,
[flex~="dir:bottom"][flex~="box:justify"] > * {
  width: auto;
  height: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

[flex~="dir:top"][flex~="box:first"] > :first-child,
[flex~="dir:top"][flex~="box:last"] > :last-child,
[flex~="dir:top"][flex~="box:justify"] > :first-child,
[flex~="dir:top"][flex~="box:justify"] > :last-child,
[flex~="dir:bottom"][flex~="box:first"] > :first-child,
[flex~="dir:bottom"][flex~="box:last"] > :last-child,
[flex~="dir:bottom"][flex~="box:justify"] > :first-child [flex~="dir:bottom"][flex~="box:justify"] > :last-child {
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

[flex-box="0"] {
  flex-grow: 0;
  flex-shrink: 0;
}

[flex-box="1"] {
  flex-grow: 1;
  flex-shrink: 1;
}

[flex-box="2"] {
  flex-grow: 2;
  flex-shrink: 2;
}

[flex-box="3"] {
  flex-grow: 3;
  flex-shrink: 3;
}

[flex-box="4"] {
  flex-grow: 4;
  flex-shrink: 4;
}

[flex-box="5"] {
  flex-grow: 5;
  flex-shrink: 5;
}

[flex-box="6"] {
  flex-grow: 6;
  flex-shrink: 6;
}

[flex-box="7"] {
  flex-grow: 7;
  flex-shrink: 7;
}

[flex-box="8"] {
  flex-grow: 8;
  flex-shrink: 8;
}

[flex-box="9"] {
  flex-grow: 9;
  flex-shrink: 9;
}

[flex-box="10"] {
  flex-grow: 10;
  flex-shrink: 10;
}

[flex~="main:justify-space-around"] {
  justify-content: space-around;
}

/*  常用百分比 */
.col-xs-0,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.6666666667%;
}

.col-xs-10 {
  width: 83.3333333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.6666666667%;
}

.col-xs-7 {
  width: 58.3333333333%;
}

.col-xs-6 {
  width: 50% !important;
}

.col-xs-6-10 {
  width: calc(50% - 10px);
  float: left;
}

.col-xs-5 {
  width: 41.6666666667%;
}

.col-xs-4 {
  width: 33.3333333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.6666666667%;
}

.col-xs-1 {
  width: 13.3333333333%;
}

.col-xs-0 {
  width: 8.3333333333%;
}

.layui-btn {
  width: 80px;
  padding: 0;
}

.layui-card-body {
  background-color: #fff;
}

.layui-elem-field legend {
  font-size: 14px;
}

.layui-form-onswitch {
  border-color: #0079FE;
  background-color: #0079FE;
}

.layui-form-select dl dd.layui-this {
  background-color: #0079FE;
}

.layui-form-radio > i:hover, .layui-form-radioed > i {
  color: #0079FE;
}

.layui-form-checked[lay-skin=primary] i {
  border-color: #0079FE;
  background-color: #0079FE;
}

.C-fontSize-0 {
  font-size: 0;
}

.C-fontSize-12 {
  font-size: 12px;
}

.C-fontSize-14 {
  font-size: 14px;
  line-height: 14px;
}

.C-fontSize-16 {
  font-size: 16px;
}

.C-fontSize-18 {
  font-size: 18px;
}

.C-fontSize-20 {
  font-size: 20px;
}

.bgc-f2f {
  background-color: #f2f2f2;
}

.C-width-360 {
  width: 360px !important;
}

.C-width-190 {
  width: 190px !important;
}

.C-height-100 {
  height: 100px !important;
}

.C-width-80 {
  width: 80px;
}

.C-border-10 {
  border: 10px solid #fff;
}

.C-float-left {
  float: left;
}

.C-float-right {
  float: right;
}

.C-float-auto {
  clear: both;
}

.C-text-center {
  text-align: center !important;
}

.C-display-inline {
  display: inline-block;
}

.C-lineHeight-1 {
  line-height: 1;
}

.layui-layout-admin .layui-footer {
  left: 0;
  height: auto;
}

.layui-flow-more {
  display: none;
}

/* 自设上传图片 */
.layui-upload li {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
}

.layui-upload li img {
  width: 100%;
  height: 100%;
}

.layui-upload li span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.layui-upload li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.G-color-red {
  color: red;
}

.G-color-333 {
  color: #333;
}

.G-color-blue {
  color: #0079FE;
}

.G-color-666 {
  color: #666;
}

.G-color-999 {
  color: #999;
}

.G-color-white {
  color: white;
}

.C-marginLeft-10 {
  margin-left: 10px;
}

.C-marginLeft-50 {
  margin-left: 50px;
}

.C-marginTop-10 {
  margin-top: 10px;
}

.C-marginTop-20 {
  margin-top: 20px;
}

.C-margin-Auto {
  margin: 0px !important;
}

.C-marginBottom-0 {
  margin-bottom: 0px;
}

.C-marginBottom-15 {
  margin-bottom: 15px;
}

.C-paddingAuto-0 {
  padding: 0px;
}

.C-padding-15 {
  padding: 15px;
}

.C-paddingLr-5 {
  padding: 5px;
}

.layui-btn-reset {
  width: auto !important;
  padding: 0 26px !important;
}

.C-paddingLeft-20 {
  padding-left: 20px;
}

.C-marginRight-20 {
  margin-right: 20px;
}

.layui-upload .layui-btn {
  width: auto;
  padding: 0 26px;
}

.layui-form-select dl {
  z-index: 9999;
}

.C-cursor-pointer {
  cursor: pointer;
}

.layui-btn-set {
  background-color: #fff;
  border: 1px solid #0079fe;
  color: #0079fe;
}

.layui-btn-set:hover {
  color: #0079fe;
}

.layui-card-label .layui-form-label {
  width: 200px;
}

/*滚动条样式*/
.innerbox::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}

.innerbox::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

.innerbox::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

.store-brand .layui-table td {
  padding: 9px 5px;
}

.store-brand .layui-table tr:hover {
  background-color: #fff;
}

.pagination {
  padding: 7px 7px 0;
}

.pagination li {
  height: 26px;
  line-height: 26px;
  padding: 0 12px;
  margin-bottom: 10px;
  border: none;
  background: 0 0;
  display: inline-block;
}

.pagination .disabled {
  height: 26px;
  line-height: 26px;
  padding: 0 12px;
  margin-bottom: 10px;
  border: none;
  background: 0 0;
  display: inline-block;
}

.pagination .active {
  background-color: #0079FE;
}

.pagination .active span {
  color: #fff;
  border: 2px;
}

.tab-style-current {
  width: 100px;
  height: 35px;
  border: 0.5px solid #0079fe !important;
  color: #0079FE;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

.tab-style-current a {
  color: #0079FE;
}

.tab-style-nocut {
  width: 100px;
  height: 35px;
  border: 0.5px solid #cccccc;
  color: #666666;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

.tab-style-nocut:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.tab-style-nocut:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.sys-pro-swiper {
  width: 320px;
  height: 320px;
  border: 1px solid #ECECEC;
}

.sys-pro-swiper .swiper-container {
  height: 100%;
}

.sys-pro-swiper .swiper-slide {
  border: 0;
  width: 100%;
  height: 100%;
}

.sys-pro-swiper .swiper-slide img {
  display: block;
  width: 100%;
}

.sys-pro-swiper .swiper-button-prev {
  background-image: url("/admin/images/tenant/system-product/sys_pro_detail_left.png");
  background-size: 30px 30px;
  width: 40px;
  height: 40px;
  left: 0;
}

.sys-pro-swiper .swiper-button-prev:hover {
  background-image: url("/admin/images/tenant/system-product/sys_pro_detail_left2.png");
  background-color: rgba(0, 0, 0, 0.5);
}

.sys-pro-swiper .swiper-button-next {
  background-image: url("/admin/images/tenant/system-product/sys_pro_detail_right.png");
  background-size: 30px 30px;
  width: 40px;
  height: 40px;
  right: 0;
}

.sys-pro-swiper .swiper-button-next:hover {
  background-image: url("/admin/images/tenant/system-product/sys_pro_detail_right2.png");
  background-color: rgba(0, 0, 0, 0.5);
}

.sys-pro-swiper .swiper-button-prev.swiper-button-disabled, .sys-pro-swiper .swiper-button-next.swiper-button-disabled {
  pointer-events: all;
  opacity: 1;
  cursor: pointer;
}

.sys-pro-info h3 {
  font-weight: bold;
  padding-top: 15px;
}

.sys-pro-info .sys-pro-p {
  width: 600px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 20px;
  color: #666;
  line-height: 18px;
}

.sys-pro-box {
  width: 600px;
  height: 100px;
  background: #FFF6F1;
  padding: 27px 0 20px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.sys-pro-price span {
  font-size: 24px;
  font-weight: 700;
}

.sys-pro-rule {
  margin-left: 15px;
  width: 530px;
}

.sys-pro-rule li {
  width: 120px;
  height: 36px;
  border: 1px solid #CCCCCC;
  color: #333;
  text-align: center;
  line-height: 36px;
  margin-right: 10px;
  margin-bottom: 3px;
  cursor: pointer;
}

.sys-pro-rule li.active {
  color: #0798FE;
  border: 1px solid #0798FE;
}

.sys-pro-btn {
  display: block;
  width: 180px;
  height: 40px;
  background: #0798FE;
  color: #fff !important;
  line-height: 40px;
  text-align: center;
}

.sys-pro-detail {
  width: 940px;
}

.sys-pro-top {
  height: 40px;
  background: #F8F8F8;
}

.sys-pro-top div {
  width: 100px;
  height: 40px;
  background: #fff;
  position: relative;
  text-align: center;
  line-height: 40px;
}

.sys-pro-top div::before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background: #0798FE;
  position: absolute;
  left: 0;
  top: -2px;
  color: #333;
}

.sys-pro-content .sys-pro-text {
  width: 750px;
  margin: 0 auto;
}

.sys-pro-content .sys-pro-text img {
  display: block;
  width: 100%;
}

.sys-payinfo-top {
  line-height: 40px;
  box-sizing: border-box;
}

.sys-first-table th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.sys-first-table td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  text-align: center;
  padding: 20px;
}

.sys-pro-form {
  width: 108px;
  margin: 0 auto;
}

.sys-pro-cut, .sys-pro-formnum, .sys-pro-add {
  width: 36px;
  height: 36px;
  background: white;
  border: 1px solid #cccccc !important;
  border-radius: 0 !important;
  box-sizing: border-box;
  float: left;
  text-align: center;
}

.sys-pro-formnum {
  color: #333 !important;
}

.sys-pro-cut {
  font-size: 31px;
  padding-top: 4px;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sys-pro-add {
  font-size: 24px;
  padding-top: 5px;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sys-pro-add::after, .sys-pro-cut::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.sys-pro-add.active {
  color: #ccc;
}

.sys-pro-cut.active {
  color: #ccc;
}

.sys-pro-payprice {
  text-align: right;
  margin-top: 23px;
}

.sys-pro-payprice span {
  font-size: 24px;
  font-weight: bold;
}

.sys-pro-agree b {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  /* background: url('/admin/images/tenant/system-product/sys-pro-check1.png') no-repeat center; */
  border: 1px solid #666;
  border-radius: 50%;
  box-sizing: border-box;
  background-size: 16px 16px;
}

.sys-pro-agree b.active {
  background-image: url("/admin/images/tenant/system-product/sys-pro-check2.png");
  border: 0;
}

.sys-pro-orderpay {
  width: 120px;
  height: 40px;
  background: #ccc;
  position: relative;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: #fff;
}

.sys-pro-orderpay a {
  display: none;
  position: absolute;
  width: 120px;
  height: 40px;
  top: 0;
  left: 0;
  border-radius: 0;
  border: 0;
  outline: none;
  background: transparent;
}

.sys-pro-orderpay.active {
  background: #0798FE;
}

.sys-pro-time {
  text-align: center;
}

.sys-pro-second-code {
  width: 360px;
  height: 360px;
  margin: 25px auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ECECEC;
}

.sys-pro-second-code img {
  display: block;
  width: 100%;
  height: 100%;
}

.sys-second-notice {
  width: 360px;
  height: 80px;
  margin: 0 auto;
  background: #EEF6FE;
  border: 1px solid #b3d6fb;
}

.order-logistics {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 100px;
  width: 80%;
}

.state-time-page {
  position: relative;
  top: 20px;
  height: 10px;
  background-color: #E4E4E4;
  width: 82%;
  margin-left: 40px;
}

.state-time-page li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #E4E4E4;
  position: absolute;
  top: -15px;
}

.state-time-page li strong {
  position: absolute;
  top: 45px;
  left: -20px;
  color: #666666;
  display: block;
  width: 80px;
  text-align: center;
}

.show-inp {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #27A9E3;
  background-size: 17px 13px;
}

.show-inp i {
  color: #fff;
  margin: 2px 0 0 7px;
}

.state-time-page li.child-2 {
  left: 25%;
}

.state-time-page li.child-3 {
  left: 50%;
}

.state-time-page li.child-4 {
  left: 75%;
}

.state-time-page li.child-5 {
  left: 100%;
}

.js-table-delete {
  cursor: pointer;
  color: #4393e5;
}

/* lsq add */
.big-title {
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  position: relative;
}

.big-title::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 0px;
  height: 25px;
  width: 5px;
  background-color: #0079FE;
}

.centerPoint {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 36px;
  height: 36px;
  transform: translate(-50%, -50%);
  z-index: 100000;
}

.btn-d9001b {
  width: 125px;
  height: 40px;
  background: #d9001b;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
}

.btn-d9001b:hover {
  color: #fff;
}

.btn-f6f6f6 {
  width: 125px;
  height: 40px;
  background: #f6f6f6;
  color: black;
  text-align: center;
  line-height: 40px;
}

.btn-f6f6f6:hover {
  color: black;
}